body {
  background-color: #ff00ff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #00ff00;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
  color: #ffff00;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-size: 36px;
  color: #ff0000;
}

p {
  font-size: 20px;
  color: #00ffff;
  text-decoration: underline;
}

.neon {
  color: #7a33ff;
  text-shadow: 0 0 10px #7a33ff, 0 0 20px #7a33ff;
}

marquee {
  font-size: 30px;
  color: #aeff00;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
}

.category-section {
  border: 2px dashed #00ffff;
  margin: 20px;
  padding: 10px;
  background-color: #000080;
}

.category-title {
  font-size: 36px;
  color: #ff00ff;
  margin-top: 0;
  margin-bottom: 10px;
}

.challenge {
  font-size: 20px;
  margin: 5px;
  color: #ffff00;
  text-shadow: 1px 1px 2px #000;
}

.challenge-name {
  font-weight: bold;
}

.flag-code {
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: #00ff00;
}
